<!doctype html>
<html>
<head>
    <title>First app</title>
    <link rel="stylesheet" href="{{ url_for('static',
       filename='style.css') }}">
</head>
<body>
{% from "_formhelpers.html" import render_field %}
<div>Whine Data:</div>
<form method=post action="/wine_result">
    1) Alcohol
    <dl>
        {{ render_field(form.a) }}
    </dl>
    2) Malic acid
    <dl>
        {{ render_field(form.b) }}
    </dl>
    <dl>
    3) Ash
        {{ render_field(form.c) }}
    </dl>
	4) Alcalinity of ash
    <dl>
        {{ render_field(form.d) }}
    </dl>
    5) Magnesium
    <dl>
        {{ render_field(form.e) }}
    </dl>
	6) Total phenols
    <dl>
        {{ render_field(form.f) }}
    </dl>
 	7) Flavanoids
    <dl>
        {{ render_field(form.g) }}
    </dl>
 	8) Nonflavanoid phenols
    <dl>
        {{ render_field(form.h) }}
    </dl>
 	9) Proanthocyanins
    <dl>
        {{ render_field(form.i) }}
    </dl>
	10)Color intensity
    <dl>
        {{ render_field(form.j) }}
    </dl>
 	11)Hue
    <dl>
        {{ render_field(form.k) }}
    </dl>
 	12)OD280/OD315 of diluted wines
    <dl>
        {{ render_field(form.l) }}
    </dl>
 	13)Proline
    <dl>
        {{ render_field(form.m) }}
    </dl>
    <input type=submit value='Submit' name='submit_btn'>
</form>
</body>
</html>